/* box-sizing nos sirve para que se centren bien los elementos del formulario */

/* BORRADO EL ARCHIVO DE TEST, DA PROBLEMAS Y NO FUNCIONA LA APP*/
html, body, #root {
  height: 100%;
  box-sizing: border-box; 
}

/* hacemos que todos los hijos de html hereden box-sizing */
html * {
  box-sizing: inherit;
}

body {
  margin: 0;
}

